<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <h3>
        <i class="glyphicon glyphicon-user"></i>&nbsp;&nbsp;Users
      </h3>
      <hr/>
      <table class="table table-stripe">
        <thead>
          <th>Email</th>
          <th>&nbsp;</th>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <td>{{user.email}}</td>
            <td>
              <button type="button" class="btn btn-sm btn-info" data-toggle="modal" data-target="#changePasswordModal" (click)="select(user)">
                <i class="glyphicon glyphicon-asterisk"></i>
                <i class="glyphicon glyphicon-asterisk"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
<div id="changePasswordModal" class="modal" #changePasswordModal >
  <form #changeForm="ngForm">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title">Reset Password</h4>
        </div>
        <div class="modal-body">
          <div class="list-group">
            <div class="list-group-item">
              <div class="input-group">
                <span class="input-group-addon" id="old-password-addon">
                  <i class="glyphicon glyphicon-asterisk"></i>
                </span>
                <input class="form-control" id="oldPassword" name="oldPassword" type="password" [(ngModel)]="current.oldPassword" #oldPassword="ngModel"
                  placeholder="Old Password" required aria-describedby="old-password-addon">
              </div>
              <div *ngIf="!oldPassword.valid && (oldPassword.dirty || oldPassword.touched)" class="text-warning">
                <small *ngIf="oldPassword.errors.required">
                  Please enter old password.
                </small>
              </div>
            </div>
            <div class="list-group-item">
              <div class="input-group">
                <span class="input-group-addon" id="new-password-addon">
                  <i class="glyphicon glyphicon-asterisk"></i>
                </span>
                <input class="form-control" id="newPassword" name="newPassword" type="password" [(ngModel)]="current.newPassword" #newPassword="ngModel"
                  placeholder="New Password" required aria-describedby="new-password-addon">
              </div>
              <div *ngIf="!newPassword.valid && (newPassword.dirty || newPassword.touched)" class="text-warning">
                <small *ngIf="newPassword.errors.required">
                  Please enter new password.
                </small>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" (click)="cancel()" class="btn btn-default" data-dismiss="modal">
              <i class="glyphicon glyphicon-cancel"></i> CANCEL</button>
            <button type="button" (click)="update()" class="btn btn-primary" [disabled]="!changeForm.valid && (changeForm.dirty || changeForm.untouched)">
              <i class="glyphicon glyphicon-save"></i> SAVE</button>
        </div>
      </div>
    </div>
  </form>
</div>
