<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="page-header">
        <h2>
          <i class="glyphicon glyphicon-info-sign"></i>&nbsp;&nbsp;About
        </h2>
      </div>
      <p>To compliment the research paper of the author, this application was developed to improve the current system of storing and retrieving research documents within the organization. Primarily, this is to enable a portal of research studies for the students of Air Education, Training and Doctrine Command (AETDC).</p><br/>
      <p>For any suggestions and inquiries:</p>
      <p>Kindly reach out the author</p>
      <span style="font-weight:bold">CPT SONNY SEÑO PAF</span>
      <p>Email: <a href="mailto:isens15957@gmail.com"><u>isens15957@gmail.com</u></a></p>
    </div> 
  </div>
</div>
