<div class="page-header">
  <h3>{{title}}</h3>
</div>
<div class="row">
  <div class="col-md-12">
    <form>
      <div class="form-group">
        <label class="control-label" for="title">Title</label>
        <input class="form-control" name="title" type="text" [(ngModel)]="model.title" placeholder="[Title]" />
      </div>
      <div class="form-group">
        <label class="control-label" for="documentType">Document Type</label>
        <select class="form-control" name="documentType" [(ngModel)]="model.documentType" placeholder="[Select a Document Type]" >
          <option value=0>None</option>
          <option value=1>Commandant's Paper</option>
          <option value=2>Position Paper</option>
          <option value=3>Case Study</option>
        </select>
      </div>
      <div class="form-group">
        <label class="control-label" for="author">Author</label>
        <input class="form-control" name="author" type="text" [(ngModel)]="model.author"  placeholder="[Author]"/>
      </div>
      <div class="form-group">
        <label class="control-label" for="yearSubmitted">Year Submitted</label>
        <input class="form-control" name="yearSubmitted" type="text" [(ngModel)]="model.yearSubmitted"  placeholder="[Year Submitter]"/>
      </div>
      <div class="form-group">
        <label class="control-label" for="remarks">Remarks</label>
        <textarea class="form-control" name="remarks" type="text" [(ngModel)]="model.remarks" style="resize: none;" placeholder="[Remarks]"></textarea>
      </div>
      <div class="form-group pull-right">
        <button type="button" (click)="cancel()" class="btn btn-default">
          <i class="glyphicon glyphicon-cancel"></i> CANCEL</button>
        <button type="button" (click)="save()" class="btn btn-primary">
          <i class="glyphicon glyphicon-save"></i> SAVE</button>
      </div>
    </form>
  </div>
</div>
