<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="col-sm-4">
        <div class="well well-md">
          <i class="glyphicon glyphicon-eye-open"></i>&nbsp;&nbsp;Most Viewed<span class="pull-right">Hits</span>
          <div class="list-group" *ngFor="let itemViewed of itemViewedStats">
            <a routerLink="/papers/{{itemViewed.paper.id}}" class="list-group-item  list-group-item-action" title="{{itemViewed.paper.title}}">
              {{itemViewed.paper.title}}<span class="pull-right">|&nbsp;&nbsp;&nbsp;{{itemViewed.paperStatistic.viewed}}</span>
            </a>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="well well-md">
          <i class="glyphicon glyphicon-eye-open"></i>&nbsp;&nbsp;Most Downloaded<span class="pull-right">Hits</span>
          <div class="list-group" *ngFor="let itemDownloaded of itemDownLoadedStats">
            <a routerLink="/papers/{{itemDownloaded.paper.id}}" class="list-group-item  list-group-item-action" title="{{itemDownloaded.paper.title}}">
              {{itemDownloaded.paper.title}}<span class="pull-right">|&nbsp;&nbsp;&nbsp;{{itemDownloaded.paperStatistic.downloaded}}</span>       
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <app-dashboard-filter (onFilter)="filter($event)"></app-dashboard-filter>
    </div>
    <div class="col-lg-9">
      <div class="col-md-12">
        <h3>
          <i class="glyphicon glyphicon-folder-open"></i>&nbsp;&nbsp;Paper Archives
          <p class="pull-right" *ngIf="currentUser.isAdmin">
            <button class="btn btn-default" routerLink="/new-paper" title="Archive a Paper">
              <i class="glyphicon glyphicon-plus"></i>
            </button>
          </p>
        </h3>
        <hr/>
        <div class="list-group">
          <div class="col-sm-12" *ngIf="items?.length == 0">
            <span class="list-group-item">
              No records found.
            </span>
          </div>
          <div class="col-sm-6" *ngFor="let item of items">
            <div class="list-group-item">
              <h4 class="list-group-item-heading text-info">
                <i class="glyphicon glyphicon-list-alt"></i>&nbsp;&nbsp;{{item.title}}
                <p class="pull-right">
                  <button class="btn btn-primary" routerLink="/papers/{{item.id}}" *ngIf="currentUser.isAdmin" title="Edit Paper Info">
                    <i class="glyphicon glyphicon-edit"></i>
                  </button>
                  <button class="btn btn-default" (click)="view(item.id, item.title)" title="View Paper">
                    <i class="glyphicon glyphicon-eye-open"></i>
                  </button>
                </p>
              </h4>
              <p class="list-group-item-text text-primary">{{item.remarks}}</p>
              <p class="list-group-item-text">
                <small>
                  <div ngSwitch="{{item.documentType}}">
                    <div *ngSwitchCase="'1'">Commandant's Paper</div>
                    <div *ngSwitchCase="'2'">Position Paper</div>
                    <div *ngSwitchCase="'3'">Case Study</div>
                  </div>
                </small>
              </p>
              <p class="list-group-item-text">
                <small>by
                  <cite title="{{item.title}}">{{item.author}}</cite> on {{item.yearSubmitted}}</small>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>