<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="col-sm-6">
        <div class="well well-sm">
          <i class="glyphicon glyphicon-thumbs-up"></i>&nbsp;&nbsp;Most Liked
          <div class="list-group" *ngFor="let itemViewed of itemViewedStats">
            <a routerLink="/papers/{{itemViewed.paper.id}}" class="list-group-item  list-group-item-action" title="{{itemViewed.paper.title}}">
              {{itemViewed.paper.title.length > 20 ? (itemViewed.paper.title | slice:0:72)+'...' : itemViewed.paper.title}}<span class="pull-right badge">{{itemViewed.paperStatistic.viewed}}</span>
            </a>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="well well-sm">
          <i class="glyphicon glyphicon-paperclip"></i>&nbsp;&nbsp;Most Downloaded
          <div class="list-group" *ngFor="let itemDownloaded of itemDownLoadedStats">
            <a routerLink="/papers/{{itemDownloaded.paper.id}}" class="list-group-item  list-group-item-action" title="{{itemDownloaded.paper.title}}">
              {{itemDownloaded.paper.title.length > 20 ? (itemDownloaded.paper.title | slice:0:72)+'...' : itemDownloaded.paper.title}}<span class="pull-right badge">{{itemDownloaded.paperStatistic.downloaded}}</span>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <app-dashboard-filter (onFilter)="filter($event)"></app-dashboard-filter>
    </div>
    <div class="col-md-9">
      <div class="col-md-12">
        <h3>
          <i class="glyphicon glyphicon-folder-open"></i>&nbsp;&nbsp;Paper Archives
          <p class="pull-right" *ngIf="currentUser.isAdmin">
            <button class="btn btn-default" routerLink="/new-paper" title="Archive a Paper">
              <i class="glyphicon glyphicon-plus"></i>
            </button>
          </p>
        </h3>
        <hr/>
        <div class="list-group">
          <div class="col-sm-12" *ngIf="items?.length == 0">
            <span class="list-group-item">
              No records found.
            </span>
          </div>
          <div class="col-sm-12" *ngFor="let item of items">
            <div class="list-group-item">
              <h4 class="list-group-item-heading text-info">
                <span style="margin-right: 80px; display: inline-block;"><i class="glyphicon glyphicon-list-alt"></i>&nbsp;&nbsp;{{item.title}}</span>
                <span class="pull-right">
                    <button class="btn btn-info" (click)="like(item.id)" title="Like">
                      <i class="glyphicon glyphicon-thumbs-up"></i>
                    </button>
                  <button class="btn btn-primary" routerLink="/papers/{{item.id}}" *ngIf="currentUser.isAdmin" title="Edit Paper Info">
                    <i class="glyphicon glyphicon-edit"></i>
                  </button>
                  <button class="btn btn-warning" (click)="view(item.id, item.title)" title="Download Paper">
                    <i class="glyphicon glyphicon-paperclip"></i>
                  </button>
                </span>
              </h4>
              <p class="list-group-item-text text-primary">{{item.remarks}}</p>
              <p class="list-group-item-text">
                <small>
                  <div ngSwitch="{{item.documentType}}">
                    <div *ngSwitchCase="'1'">Commandant's Paper</div>
                    <div *ngSwitchCase="'2'">Position Paper</div>
                    <div *ngSwitchCase="'3'">Case Study</div>
                  </div>
                </small>
              </p>
              <p class="list-group-item-text">
                <small>by
                  <cite title="{{item.title}}">{{item.author}}</cite> on {{item.yearSubmitted}}</small>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
