<div class="navbar-header">
  <a href="../" class="navbar-brand">AETDC Research Portal</a>
  <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
</div>
<div class="navbar-collapse collapse" id="navbar-main">
  <ul class="nav navbar-nav">
    <li *ngIf="isAdmin">
      <a href="users">Users</a>
    </li>
    <li>
      <a routerLink="about">About</a>
    </li>
  </ul>
  <ul class="nav navbar-nav navbar-right" *ngIf="isLoggedIn">
    <li>
      <a>
        <small>{{email}}</small>
      </a>
    </li>
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" id="user" aria-expanded="false">
        <i class="glyphicon glyphicon-user"></i>
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu" role="menu" aria-labelledby="user">
        <li>
          <a (click)="logout()">Sign Off</a>
        </li>
      </ul>
    </li>
  </ul>
</div>
